.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 124, 231);
    color: white;
}

.header__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo img {
    height: 50px;
}