@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

html, body {
    min-height: 100%;
    width: 100%;
    display: flex;
}

.App {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #fff;
}

.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
}