.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    list-style: none;
    margin: 0px 0px;
    display: block;
}


.menu__item-unactive {
    text-decoration: none;
    color: white;
    padding: 18px 15px;
    display: block;
    border-radius: 1px;
}
.menu__item-unactive:hover {

    color: #697CE7;
    background-color: #fff;
}

.menu__item:last-child {
    margin: 0px 0px 0px 0px;
}

.menu__item-active {
    color: #697CE7;
    background-color: #fff;
}

.menu__item-active a {
    color: #697CE7;
}